/*
|--------------------------------------------------------------------------
| #GRID
|--------------------------------------------------------------------------
*/



// #GUTTER
// =========================================================================

$gutter: $global-font-size * $global-line-height;

@if unit($gutter) == 'px' {
    $gutter: calculateRem($gutter);
}




// #COLUMN
// =========================================================================

.column {
    flex: 1 1 auto;
    max-width: 100%;
    min-height: 1px;
    margin-left: $gutter / 2;
    margin-right: $gutter / 2;

    @include breakpoint(md) {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}

@for $i from 1 through $columns {
    %column-#{$i},
    .column-#{$i} {
        position: relative;
        flex: 0 0 calc(100% * (1 * #{$i} / #{$columns}) - #{$gutter});
        width: 100%;
        max-width: calc(100% * (1 * #{$i} / #{$columns}) - #{$gutter});
        min-height: 1px;
        margin-left: $gutter / 2;
        margin-right: $gutter / 2;

        @include breakpoint(md) {
            flex: 0 0 auto;
            width: 100%;
            max-width: 100%;
            margin-left: 0;
            margin-right: 0;
        }
    }
}




// #OFFSET
// =========================================================================

@for $i from 1 through $columns {
    .offset-#{$i} {
        margin-left: calc((100% * (1 * #{$i} / #{$columns}) - #{$gutter}) + (#{$gutter} * 1.5));

        @include breakpoint(md) {
            margin-left: 0;
        }
    }
}




// #GRID
// =========================================================================

@mixin grid($display: flex, $maw: 80%, $direction: row, $mobile: false) {
    display: $display;
    flex-wrap: wrap;
    width: 100%;
    max-width: $maw;
    margin: 0 auto;

    @include breakpoint(md) {
        @if ($mobile) {
            display: flex;
        }

        @if ($mobile == false) {
            display: block;
        }

        max-width: 100%;
        padding-left: $gutter;
        padding-right: $gutter;
    }
}




// #CONTAINER
// =========================================================================

.container {
    @include grid();

    &-align-top {
        align-items: flex-start;
    }

    &-align-center {
        align-items: center;
    }

    &-align-bottom {
        align-items: flex-end;
    }

    &-full {
       max-width: 100%;
    }
    
    &-block {
        display: block;
    }

    &-collapsed {
        @for $i from 1 through $columns {
            %column-#{$i},
            .column-#{$i} {
                position: relative;
                flex: 0 0 calc(100% * (1 * #{$i} / #{$columns}));
                width: 100%;
                max-width: calc(100% * (1 * #{$i} / #{$columns}));
                min-height: 1px;
                margin-left: 0;
                margin-right: 0;

                @include breakpoint(md) {
                    flex: 0 0 auto;
                    width: 100%;
                    max-width: 100%;
                }
            }
        }
    }
}
