/*
|--------------------------------------------------------------------------
| #NAV
|--------------------------------------------------------------------------
*/




.nav {
    width: 100%;
    position: relative;
    z-index: z(middle);
    
    @if not $is-dark {
        background: color(white);
    } @else {
        background: color(grey, 90);
    }

    @if ($nav-fixed) {
        position: fixed;
    }

    @if ($has-shadow) {
        @include shadow(raised);
    }

    .container {
        align-items: center;
        height: 100%;

        @include breakpoint(md) {
            display: flex;
        }
    }

    &-menu {
        list-style-type: none;
        display: flex;
        align-items: stretch;
        height: 100%;
        padding: 0;

        @if ($menu-right) {
            @include flex-position(right);
        }

        @include breakpoint(md) {
            display: none;
        }
    }

    .hamburger {
        margin-left: auto;
    }

    li {
        height: 100%;
        margin-bottom: 0;
    }

    a {
        position: relative;
        display: block;
        padding: .75rem;
        text-decoration: none;
        color: color(font);
        transition: all .3s ease(inOutSine);

        &:hover {
            color: lighten(color(font), 25%);
        }
    }

    a:not(.nav-brand) {
        
        @if $nav-underlined {

            &:after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                height: .2rem;
                width: 100%;
                background: color(primary);
                transform: scaleY(0);
                transform-origin: bottom;
                transition: all .2s ease(inOutSine);
            }

            &:hover {

                &:after {
                    transform: scaleY(1);
                }
            }
        }
    }

    &-brand {
        max-width: 150px;

        img {
            width: 100%;
        }
    }
}
