<template>
    <ul class="postList">
        <li v-for="post in posts" :key="post.id" class="postListItem">
            <post-excerpt :post="post"></post-excerpt>
            <hr>
        </li>
    </ul>
</template>

<script>
import PostExcerpt from './PostExcerpt'

export default {
  props: {
      posts: {
          type: Array
      }
  },
  components: {
      PostExcerpt
  }
}
</script>
