<template>
    <article>
        <h6><nuxt-link :to="{ name: 'posts-slug', params: { slug: post.slug } }">{{ post.title.rendered }}</nuxt-link></h6>
        <div v-html="post.excerpt.rendered"></div>
    </article>
</template>

<script>
export default {
  props: {
      post: {
          type: Object
      }
  }
}
</script>
