<template>
    <article class="block">
        <h6>{{ post.title.rendered }}</h6>
        <div v-html="post.excerpt.rendered"></div>
    </article>
</template>

<script>
export default {
  props: {
      post: {
          type: Object
      }
  }
}
</script>
