/*
|--------------------------------------------------------------------------
| #THEME
|--------------------------------------------------------------------------
*/




// #DARK
// =========================================================================

$is-dark: false;


// #STATES
// =========================================================================

$states: [ 'primary', 'secondary', 'info', 'success', 'error', 'warning', 'light', 'dark' ];




// #RADIUS
// =========================================================================

$has-radius: true;



// #SHADOWS
// =========================================================================

$has-shadow: false;

$button-has-shadow: false;




// #NAV
// =========================================================================

$nav-fixed: false;

$menu-right: false;

$nav-underlined: true;
