/*
|--------------------------------------------------------------------------
| #COLORS
|--------------------------------------------------------------------------
*/




// #BRAND
// =========================================================================

$primary: #EC4F4F;
$secondary: #2B3446;




// #UTILITY
// =========================================================================

$info: #47C1BF;
$success: #40C285;
$error: #ED6347;
$warning: #F2AD5C;




// #SHADES
// =========================================================================

$white: #ffffff;
$black: #212529;




// #GREYS
// =========================================================================

$grey-10: #f8f9fa;
$grey-20: #f1f3f5;
$grey-30: #e9ecef;
$grey-40: #dee2e6;
$grey-50: #ced4da;
$grey-60: #adb5bd;
$grey-70: #868e96;
$grey-80: #495057;
$grey-90: #343a40;


