/*
|--------------------------------------------------------------------------
| #CORE
|--------------------------------------------------------------------------
*/




// #BASE SIZES
// =========================================================================

$global-font-size: 16px;
$global-line-height: 1.5;




// #GRID
// =========================================================================

$columns: 12;
$gutter: $global-font-size * $global-line-height;




// #SPACING
// =========================================================================

$global-spacer: $gutter * 3;
$global-trail: $gutter * 0.5;




// #FONTS
// =========================================================================

$font-stack: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

$font-body: $font-stack;
$font-display: $font-stack;
$font-mono: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;




// #WEIGHTS
// =========================================================================

$display-weight: 600;
$body-weight: 400;




// #RHYTHM RATIO
// =========================================================================

$ms-ratio: 1.125;




// #BREAKPOINTS
// =========================================================================

$small: 30rem;
$medium: 48rem;
$large: 90rem;
