<template>
  <div class="container">
    <post-contents :post="current_post"></post-contents>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import PostContents from '@/components/PostContents'
import wp from '@/lib/wp'
import { types } from '@/store'

export default {
  fetch ({ store, params }) {
    const existing = store.state.post_list.filter(p => p.slug === params.slug)

    if (existing.length > 0) {
      store.commit(types.CURRENT_POST_UPDATE, existing[0])
      return
    }

    return wp.posts({ slug: params.slug })
      .then(response => {
        store.commit(types.CURRENT_POST_UPDATE, response.posts[0])
      })
  },
  computed: mapState(['site_data', 'current_post']),
  components: {
    PostContents
  },
  head () {
    return {
      title: `${this.site_data.name} | ${this.current_post.title.rendered}`
    }
  }
}
</script>
