<template>
    <section class="container container-block">
        <post-list :posts="posts"></post-list>
    </section>
</template>

<script>
import PostList from '@/components/PostList'
import wp from '@/lib/wp'

export default {
  async asyncData ({ params }) {
      return Promise.all([
          wp.posts(),
          wp.siteData()
      ]).then(response => response.reduce((inp, val) => ({ ...inp, ...val }), {}))
  },
  head () {
      return {
          title: `${this.$store.state.site_data.name} | Posts`
      }
  },
  components: {
      PostList
  }
}
</script>
