<template>
    <header class="container container-block">
        <h1 class="--has-margin-top">{{ siteData.name }}</h1>
        <p>{{ siteData.description }}</p>
        <hr>
    </header>
</template>

<script>
export default {
  props: {
      siteData: {
          type: Object
      }
  }
}
</script>
